/* Created by: Anita Kay
* Created on: Feb 2022
* This CSS file defines the style for index.html
* ICS20-Unit1-04-HTML-CSS
*/

body {
  background-color: rebeccapurple;
}

h1 {
  background-color: rgb(85, 107, 47);
  color: hsl(0, 0%, 96%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #4682B4		;
}