/* Created by: Anita Kay
* Created on: Feb 2022
* This CSS file defines the style for more_style.html
* ICS20-Unit1-04-HTML-CSS
*/

body {
  background-color: darkseagreen;
}

h1 {
  background-color: rgb(230, 230, 250);
  color: hsl(275, 100%, 25%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #008B8B	;
}